pug/index.pug
doctype
html(lang="en")
    head
        //meta(charset="UTF-8")
        //meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Test Layout
        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css")
        link(href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet")
        link(rel="stylesheet" href="style.css")
    
    body
        div.main
            navbar
                ul
                    li.elm-1: img(src="icon/notification.svg")
                    li.elm-2: img(src="icon/settings.svg")
       
            section.head
                h1 Reminders
                div
            section.container
                div.head-orders
                    div
                        label.gray-font.head-font RECEPIENT
                    div
                        label.gray-font.head-font2 DEADLINE
                    div
                        label.gray-font.head-font2 RECEPIENT
                div.list
                    div
                        //element-1
                        div(onclick="viewMarker(1)").element.row-style
                            div#market-y-1.market-y
                            div.inf
                                img(src="img/user-1.jpg").img-profile
                                label.style-font.name Tom
                            div.inf
                                label.style-font 31/08
                            div.inf
                                label.style-font $5.00
                        //element1-information
                        div(style="display:none").more#info-user1
                            div.head-more 
                                div.squart-1
                                    label
                                        img(src="icon/marker.svg") 
                                        span.style-font2 Steak House
                                div
                                div.squart-2
                                    label
                                        label.text-one.style-font2 3
                                        label.text-two.style-font2 days left
                            
                            div.container-more
                                div.squart-3
                                    div 
                                        label.style-font2.gray-font Participant
                                        div
                                            img(src="img/user-1.jpg").img-profile-2
                                            img(src="img/user-2.jpg").img-profile-2
                                            img(src="img/user-3.jpg").img-profile-2
                                div
                                div.squart-4
                                    div
                                        label.style-font Pay
                        //element-2
                        div(onclick="viewMarker(2)").element.row-style
                            div#market-y-2.market-y
                            div.inf
                                img(src="img/user-2.jpg").img-profile
                                label.style-font.name Oliver
                            div.inf
                                label.style-font 31/08
                            div.inf
                                label.style-font $28.00
                        //element2-information
                        div(style="display:none").more#info-user2
                            div.head-more 
                                div.squart-1
                                    label
                                        img(src="icon/marker.svg") 
                                        span.style-font2 Steak House
                                div
                                div.squart-2
                                    label
                                        span.text-one.style-font2 3
                                        span.text-two.style-font2 days left
                            
                            div.container-more
                                div.squart-3
                                    div 
                                        label.style-font2.gray-font Participant
                                        div
                                            img(src="img/user-1.jpg").img-profile-2
                                            img(src="img/user-2.jpg").img-profile-2
                                            img(src="img/user-3.jpg").img-profile-2
                                div
                                div.squart-4
                                    div
                                        label.style-font Pay
                        //element-3 
                        div(onclick="viewMarker(3)").element.row-style
                            divmarket
                            div.inf
                                img(src="img/user-3.jpg").img-profile-bl
                                label.style-font.name.gray-font Maria
                            div.inf
                                label.style-font.gray-font 31/08
                            div.inf
                                label.style-font.gray-font $2.00
                            div.cancel
                        div.cancel
                        
            section.footer
                div(onclick="Action(1)").icon-footer
                    div#icon-footer1
                    img(src="icon/home.svg")
                div.center
                    div.icon-round
                        img(src="icon/frame.svg")
                div(onclick="Action(2)").icon-footer
                    div#icon-footer2
                    img(src="icon/user.svg")
    
    script(src="main.js")

index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <!--meta(charset="UTF-8")-->
    <!--meta(name="viewport" content="width=device-width, initial-scale=1.0")-->
    <title>Test Layout</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="main">
      <navbar>
        <ul>
          <li class="elm-1"><img src="icon/notification.svg"></li>
          <li class="elm-2"><img src="icon/settings.svg"></li>
        </ul>
      </navbar>
      <section class="head">
        <h1>Reminders</h1>
        <div></div>
      </section>
      <section class="container">
        <div class="head-orders">
          <div>
            <label class="gray-font head-font">RECEPIENT</label>
          </div>
          <div>
            <label class="gray-font head-font2">DEADLINE</label>
          </div>
          <div>
            <label class="gray-font head-font2">RECEPIENT</label>
          </div>
        </div>
        <div class="list">
          <div>
            <!--element-1-->
            <div class="element row-style" onclick="viewMarker(1)">
              <div class="market-y" id="market-y-1"></div>
              <div class="inf"><img class="img-profile" src="img/user-1.jpg">
                <label class="style-font name">Tom</label>
              </div>
              <div class="inf">
                <label class="style-font">31/08</label>
              </div>
              <div class="inf">
                <label class="style-font">$5.00</label>
              </div>
            </div>
            <!--element1-information-->
            <div class="more" style="display:none" id="info-user1">
              <div class="head-more"> 
                <div class="squart-1">
                  <label><img src="icon/marker.svg"><span class="style-font2">Steak House</span></label>
                </div>
                <div></div>
                <div class="squart-2">
                  <label>
                    <label class="text-one style-font2">3</label>
                    <label class="text-two style-font2">days left</label>
                  </label>
                </div>
              </div>
              <div class="container-more">
                <div class="squart-3">
                  <div> 
                    <label class="style-font2 gray-font">Participant</label>
                    <div><img class="img-profile-2" src="img/user-1.jpg"><img class="img-profile-2" src="img/user-2.jpg"><img class="img-profile-2" src="img/user-3.jpg"></div>
                  </div>
                </div>
                <div></div>
                <div class="squart-4">
                  <div>
                    <label class="style-font">Pay</label>
                  </div>
                </div>
              </div>
            </div>
            <!--element-2-->
            <div class="element row-style" onclick="viewMarker(2)">
              <div class="market-y" id="market-y-2"></div>
              <div class="inf"><img class="img-profile" src="img/user-2.jpg">
                <label class="style-font name">Oliver</label>
              </div>
              <div class="inf">
                <label class="style-font">31/08</label>
              </div>
              <div class="inf">
                <label class="style-font">$28.00</label>
              </div>
            </div>
            <!--element2-information-->
            <div class="more" style="display:none" id="info-user2">
              <div class="head-more"> 
                <div class="squart-1">
                  <label><img src="icon/marker.svg"><span class="style-font2">Steak House</span></label>
                </div>
                <div></div>
                <div class="squart-2">
                  <label><span class="text-one style-font2">3</span><span class="text-two style-font2">days left</span></label>
                </div>
              </div>
              <div class="container-more">
                <div class="squart-3">
                  <div> 
                    <label class="style-font2 gray-font">Participant</label>
                    <div><img class="img-profile-2" src="img/user-1.jpg"><img class="img-profile-2" src="img/user-2.jpg"><img class="img-profile-2" src="img/user-3.jpg"></div>
                  </div>
                </div>
                <div></div>
                <div class="squart-4">
                  <div>
                    <label class="style-font">Pay</label>
                  </div>
                </div>
              </div>
            </div>
            <!--element-3 -->
            <div class="element row-style" onclick="viewMarker(3)">
              <divmarket></divmarket>
              <div class="inf"><img class="img-profile-bl" src="img/user-3.jpg">
                <label class="style-font name gray-font">Maria</label>
              </div>
              <div class="inf">
                <label class="style-font gray-font">31/08</label>
              </div>
              <div class="inf">
                <label class="style-font gray-font">$2.00</label>
              </div>
              <div class="cancel"></div>
            </div>
            <div class="cancel"></div>
          </div>
        </div>
      </section>
      <section class="footer">
        <div class="icon-footer" onclick="Action(1)">
          <div id="icon-footer1"></div><img src="icon/home.svg">
        </div>
        <div class="center">
          <div class="icon-round"><img src="icon/frame.svg"></div>
        </div>
        <div class="icon-footer" onclick="Action(2)">
          <div id="icon-footer2"></div><img src="icon/user.svg">
        </div>
      </section>
    </div>
  </body>
  <script src="main.js"></script>
</html>
